
.navi {
    height: 10vh;
    border-bottom: 3px solid #313131;
    background-color: #585858;
    // padding-bottom: 6.5%;
    .icone{
        width: 100%;
        i{  
            @include icone();
        }
        i:hover{
            cursor: pointer;
            // background-color: $complement;
            transition: 300ms;
        }
    }
    @media screen and (max-width: 575px) and(orientation:portrait) { 
        height: 7vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 5px;
        // padding-bottom: 6.5%;
    }
    @media screen and (max-width: 575px)and(orientation:landscape){ 
        height: 12vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 5px;
    }
    @media screen and (min-width: 576px) and (max-width: 767px) and(orientation:landscape) { 
        height: 12vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 5px;
    }
    @media screen and (min-width: 768px) and (max-width: 991px) and(orientation:landscape) { 
        height: 12vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 5px;
    }
    @media screen and (min-width: 768px) and (max-width: 991px) and(orientation:portrait) { 
        height: 8vh;
    }
    @media (min-width: 992px) and (max-width: 1199px)and(orientation:portrait) { 
        height: 10vh;    
    }
    @media (min-width: 992px) and (max-width: 1199px)and(orientation:landscape) { 
        height: 10vh;    
    }
}
#navigation {
    width: 100%;
    i{
        @include icone();

    } 
}
#url{
    p{
        color: white;
        margin: 0;
        font-size: 27px;
        box-shadow: 2px 2px 3px #000000bd;
        padding: 15px 25px;
        background-color: #313131;
        // border: 3px solid black;
        // padding: 10px;
        // color: white;
        // margin: 0;
        // font-size: 2rem;
        @media screen and (max-width: 575px)and(orientation:portrait){ 
        padding: 0px 3px;
        color: white;
        font-size: 10px;
        }
        @media screen and (max-width: 575px)and(orientation:landscape){ 
            padding: 3px;
            color: white;
            font-size: 70%
        }
        @media screen and (min-width: 576px) and (max-width: 767px) and(orientation:landscape) { 
            padding: 3px;
            color: white;
            font-size: 79%;
        }
        @media screen and (min-width: 768px) and (max-width: 991px) and(orientation:landscape) { 
            padding: 3px;
            color: white;
            font-size: 100%;
        }
        @media screen and (min-width: 768px) and (max-width: 991px) and(orientation:portrait) { 
            padding: 10px;
            color: white;
            margin-bottom: 12px;
            font-size: 15px;
        }
        @media (min-width: 992px) and (max-width: 1199px)and(orientation:portrait) { 
            padding: 10px;
            color: white;
            margin: 0;
            font-size: 22px; 
        }
        @media (min-width: 992px) and (max-width: 1199px)and(orientation:landscape) { 
           font-size: 22px; 
        }
    }
    
}
