    .explorateur{
        h1{            
            color: #63b7ff;
            font-weight: bold;
            font-size: 5rem;
            text-shadow: 1px 1px 1px black;
            overflow: hidden;
            white-space:nowrap;
            border-right: 2px solid white;
            width:20ch;
            animation: type 3s steps(22);
            text-shadow:  0 1px 1px rgba(0,0,0,1);
            @media screen and (max-width: 575px)and(orientation:portrait){ 
                font-size: 95%;
                // margin-top: 5px;
                margin: 0;
                border-right: .5px solid white;
            }
            @media screen and (max-width: 575px)and(orientation:landscape){ 
                font-size: 130%;
                // margin-top: 5px;
                margin: 0;
            }
            
            @media screen and (min-width: 576px) and (max-width: 767px) and(orientation:landscape) { 
                font-size: 130%;
                // margin-top: 5px;
                margin: 0;
            }
            @media screen and (min-width: 768px) and (max-width: 991px) and(orientation:landscape) { 
                font-size: 180%;
                // margin-top: 5px;
                margin: 0;
            }
            @media screen and (min-width: 768px) and (max-width: 991px) and(orientation:portrait) { 
                font-size: 40px;
                margin-top: 0px;
            }
            @media (min-width: 992px) and (max-width: 1199px) and(orientation:portrait){
                margin: 0;
             }
             @media (min-width: 992px) and (max-width: 1199px) and(orientation:landscape){
                margin: 0;
                font-size: 300%;
             }
        }
        @keyframes type {
            0% {width:0ch}
            100% {width:20ch}
          }
    }
    .outils{
        height: 10vh;
        background-color: #585858;
        .icone{
            visibility: hidden;
        }
        @media screen and (max-width: 575px)and(orientation:portrait){ 
            height: 7vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        @media screen and (max-width: 575px)and(orientation:landscape){ 
            height: 12vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        @media screen and (min-width: 576px) and (max-width: 767px) and(orientation:landscape) { 
            height: 12vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        @media screen and (min-width: 768px) and (max-width: 991px) and(orientation:landscape) { 
            height: 12vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        @media screen and (min-width: 768px) and (max-width: 991px) and(orientation:portrait) { 
            height: 8vh;
        }
        @media (min-width: 992px) and (max-width: 1199px)and(orientation:portrait) { 
            height: 10vh;    
        }
        @media (min-width: 992px) and (max-width: 1199px)and(orientation:landscape) { 
            height: 10vh;    
        }
    }