// .visu{
//     background-color: $background;
//     height: 80vh;
//     padding: 0;
//     margin: 0;
//     @media screen and (min-width: 576px) and (max-width: 767px) and(orientation:landscape) { 
//         height: 100vh;
//         }
//         @media screen and (min-width: 768px) and (max-width: 991px) and(orientation:landscape) { 
//             height: 100vh;
//         }
//         @media screen and (min-width: 768px) and (max-width: 991px) and(orientation:portrait) { 
         
//         }

// }
// #visuDossier{
//     background-color: white;
//     height: 80vh;
//     @media screen and (min-width: 576px) and (max-width: 767px) and(orientation:landscape) { 
//         height: 100vh;
       
//     }

//     @media screen and (min-width: 768px) and (max-width: 991px) and(orientation:landscape) { 
//         height: 100vh;
//     }
//     @media screen and (min-width: 768px) and (max-width: 991px) and(orientation:portrait) { 
         
//     }
// }
.content {
    // position :relative;
    // z-index: 1;
    background-color: white;
    // width: 960px;
    height:72vh;
    margin: auto;
    overflow: auto;
    @media screen and (max-width: 575px)and(orientation:portrait){ 
        height: 86vh;
    }
    @media screen and (min-width: 768px) and (max-width: 991px) and(orientation:portrait) { 
        height: 84vh;
    }
}

.carte_button {
    // position :fixed;
    // z-index: 3;
    // border: 4px solid white;
    background-color: #313131;
    box-shadow: 2px 2px 3px #0000005e;
    text-shadow: 1px 1px 1px black;
    color: #63b7ff;
    font-size: 2rem;
    font-weight: bold;
    // width: 20vw;
    height: 10vh;
    visibility: hidden;
    // margin-top: -3px;
    @media screen and (max-width: 575px)and(orientation:portrait){ 
        font-size: 12px;
        width: 40vw;
        height: 6vh;
    }
    @media screen and (max-width: 575px) and (orientation: landscape){
        font-size: 15px;
        width: 40vw;
        height: 10vh;
    }
    @media screen and (min-width: 576px) and (max-width: 767px) and(orientation:landscape) { 
        font-size: 15px;
        width: 40vw;
        height: 10vh;
    }
    @media screen and (min-width: 768px) and (max-width: 991px) and(orientation:landscape) { 
       font-size: 15px;
        width: 40vw;
        height: 10vh;
    }
    @media screen and (min-width: 768px) and (max-width: 991px) and(orientation:portrait) { 
        font-size: 30px;
        width: 40vw;
        height: 5vh;
    }
    @media (min-width: 992px) and (max-width: 1199px)and(orientation:portrait) { 
        font-size: 40px;
        width: 35vw;
        height: 7vh;
    }
    @media (min-width: 992px) and (max-width: 1199px)and(orientation:landscape) { 
        font-size: 30px;
        width: 35vw;
        height: 10vh;
        }

}

.carte {
    // position :fixed;
    // top: 28vh;
    // left:0px;
    // z-index: 2;
    // border-top: 2px solid white;
    background-color: #313131;
    box-shadow: 2px 2px 3px #0000005e;
    // width: 20vw;
    height: 62vh;
    // margin: auto;
    transition: height 500ms;
    // padding-top: 15vh;
    @media screen and (max-width: 575px)and(orientation:portrait){ 
        position :fixed;
        top: -100vh;
        left:0px;
        z-index: 2;
        // border-top: 2px solid white;
        background-color: #313131;
        box-shadow: 2px 2px 3px #0000005e;
        width: 20vw;
        height: 0%;
        margin: auto;
        transition: height 500ms;
        padding-top: 15vh;
        font-size: 12px;
        width: 40vw;
        padding-top: 7vh;
    }
    @media screen and (max-width: 575px) and (orientation: landscape){
        position :fixed;
        top: -100vh;
        left:0px;
        z-index: 2;
        // border-top: 2px solid white;
        background-color: #313131;
        box-shadow: 2px 2px 3px #0000005e;
        width: 20vw;
        height: 0%;
        margin: auto;
        transition: height 500ms;
        padding-top: 15vh;
        font-size: 12px;
        width: 40vw;
        padding-top: 11vh;
    }
    @media screen and (min-width: 576px) and (max-width: 767px) and(orientation:landscape) { 
        position :fixed;
        top: -100vh;
        left:0px;
        z-index: 2;
        // border-top: 2px solid white;
        background-color: #313131;
        box-shadow: 2px 2px 3px #0000005e;
        width: 20vw;
        height: 0%;
        margin: auto;
        transition: height 500ms;
        padding-top: 15vh;
        font-size: 15px;
        width: 40vw;
        padding-top: 11vh;
    }
    @media screen and (min-width: 768px) and (max-width: 991px) and(orientation:landscape) { 
        position :fixed;
        top: -100vh;
        left:0px;
        z-index: 2;
        // border-top: 2px solid white;
        background-color: #313131;
        box-shadow: 2px 2px 3px #0000005e;
        width: 20vw;
        height: 0%;
        margin: auto;
        transition: height 500ms;
        padding-top: 15vh;
        font-size: 15px;
        width: 40vw;
        padding-top: 11vh;
    }
    @media screen and (min-width: 768px) and (max-width: 991px) and(orientation:portrait) { 
        position :fixed;
        top: -100vh;
        left:0px;
        z-index: 2;
        // border-top: 2px solid white;
        background-color: #313131;
        box-shadow: 2px 2px 3px #0000005e;
        width: 20vw;
        height: 0%;
        margin: auto;
        transition: height 500ms;
        padding-top: 15vh;
        font-size: 15px;
        width: 40vw;
        padding-top: 11vh;
    }
    @media (min-width: 992px) and (max-width: 1199px)and(orientation:portrait) { 
    top: 20vh;
    left:0px;
    z-index: 2;
    // border-top: 2px solid white;
    background-color: #313131;
    box-shadow: 2px 2px 3px #0000005e;
    width: 35vw;
    height: 80vh;
    margin: auto;
    transition: height 500ms;
    padding-top: 15vh;
    }
    @media (min-width: 992px) and (max-width: 1199px)and(orientation:landscape) { 
    top: 20vh;
    left:0px;
    z-index: 2;
    // border-top: 2px solid white;
    background-color: #313131;
    box-shadow: 2px 2px 3px #0000005e;
    width: 35vw;
    height: 80vh;
    margin: auto;
    transition: height 500ms;
    padding-top: 15vh;
    }
    
   }
.carte p{
    // z-index: 3;
    color: white; 
    // transition: 2s;
    display: list-item block;
    &:hover{
        color: #63b7ff;
    }
    
    @media screen and (max-width: 575px)and(orientation:portrait){ 
    visibility:hidden;
    opacity:0;
    transition:visibility 3s linear,opacity 3s linear;
     }
     @media screen and (max-width: 575px) and (orientation: landscape){
        visibility:hidden;
        opacity:0;
        transition:visibility 3s linear,opacity 3s linear; 
     }
     @media screen and (min-width: 576px) and (max-width: 767px) and(orientation:landscape) { 
        visibility:hidden;
        opacity:0;
        transition:visibility 3s linear,opacity 3s linear;
     }
     @media screen and (min-width: 768px) and (max-width: 991px) and(orientation:landscape) { 
        visibility:hidden;
        opacity:0;
        transition:visibility 3s linear,opacity 3s linear;
    }
    @media screen and (min-width: 768px) and (max-width: 991px) and(orientation:portrait) { 
        visibility:hidden;
        opacity:0;
        transition:visibility 3s linear,opacity 3s linear;
    }
     
}
.carte_button:active + .carte {
  
    @media screen and (max-width: 575px)and(orientation:portrait){ 
       top: 14vh;
       height: 86vh;
    }
    @media screen and (max-width: 575px) and (orientation: landscape){
        top: 24vh;
       height: 40vh;
    }
    @media screen and (min-width: 576px) and (max-width: 767px) and(orientation:landscape) { 
        top: 24vh;
        height: 40vh;
    }
    @media screen and (min-width: 768px) and (max-width: 991px) and(orientation:landscape) { 
        top: 24vh;
        height: 40vh;
    }
    @media screen and (min-width: 768px) and (max-width: 991px) and(orientation:portrait) { 
        top: 16vh;
        height: 40vh;
    }

}

.carte:hover {
    // height: 50vh;
    // border-top: none;
   
    @media screen and (max-width: 575px)and(orientation:portrait){ 
        top: 14vh;
        height: 86vh;
        p {
            visibility:visible;
            opacity:1;
        }
     }
     @media screen and (max-width: 575px) and (orientation: landscape){
        top: 24vh;
       height: 76vh;
       p {
        visibility:visible;
        opacity:1;
    }
    }
    @media screen and (min-width: 576px) and (max-width: 767px) and(orientation:landscape) { 
        top: 24vh;
        height: 76vh;
        p {
            visibility:visible;
            opacity:1;
        }
    }
    @media screen and (min-width: 768px) and (max-width: 991px) and(orientation:landscape) { 
        top: 24vh;
        height: 76vh;
        p {
            visibility:visible;
            opacity:1;
        } 
    }
    @media screen and (min-width: 768px) and (max-width: 991px) and(orientation:portrait) { 
        top: 16vh;
        height: 84vh;
        p {
            visibility:visible;
            opacity:1;
        } 
    }

}
.visu{
    // background-color: #585858;
// remplacer a par div
    .fichier{
        margin:2%;
        width: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            margin-bottom: -10px;
        }
        @media screen and (max-width: 575px)and(orientation:portrait) { 
            margin:6%;
            font-size: 10px;
            }
            @media screen and (max-width: 575px)and(orientation:landscape) { 
               margin:6%;
                }
            @media screen and (min-width: 576px) and (max-width: 767px) and(orientation:landscape) { 
              margin:6%; 
            }
            @media screen and (min-width: 768px) and (max-width: 991px) and(orientation:landscape) { 
            margin:5%;    
            }
            @media screen and (min-width: 768px) and (max-width: 991px) and(orientation:portrait) { 
              margin:5%; 
            }
            @media (min-width: 992px) and (max-width: 1199px) and(orientation:portrait){ 
                 
             } 
    }
    .dossier{
        margin:2%;
        width: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            margin-bottom: -10px;
        }
        @media screen and (max-width: 575px)and(orientation:portrait) { 
            margin:6%;
            font-size: 10px;
            }
            @media screen and (max-width: 575px)and(orientation:landscape) { 
               margin:6%;
                }
            @media screen and (min-width: 576px) and (max-width: 767px) and(orientation:landscape) { 
              margin:6%; 
            }
            @media screen and (min-width: 768px) and (max-width: 991px) and(orientation:landscape) { 
            margin:5%;    
            }
            @media screen and (min-width: 768px) and (max-width: 991px) and(orientation:portrait) { 
              margin:5%; 
            }
            @media (min-width: 992px) and (max-width: 1199px) and(orientation:portrait){ 
                 
             } 
    }
  

}
#visuDossier{
    overflow: auto;
    height: 100%;
    .iconefolder {
        height: 100px;
        width: 100px;
    }
    img{
        height: 100px;
        width: 80px;
    }
    @media screen and (max-width: 575px)and(orientation:portrait) { 
        .iconefolder {
            height: 50px;
            width: 50px;
        }
        img{
            height: 50px;
            width: 40px;
            
        }
        }
        @media screen and (max-width: 575px)and(orientation:landscape) { 
            height: 100%;
            }
        @media screen and (min-width: 576px) and (max-width: 767px) and(orientation:landscape) { 
            height: 100%;
        }
        @media screen and (min-width: 768px) and (max-width: 991px) and(orientation:landscape) { 
            height: 100%;
        }
        @media screen and (min-width: 768px) and (max-width: 991px) and(orientation:portrait) { 
            height: 100%;
            padding-top: 5vh;
        }
        @media (min-width: 992px) and (max-width: 1199px) and(orientation:portrait){ 
             
         } 
}
.info {
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: #313131;
    padding: 15px;
    color: white;
    z-index: 4;
    font-size: 1.3rem;
    @media screen and (max-width: 575px)and(orientation:portrait) { 
            font-size: 12px;
        }
        @media screen and (max-width: 575px)and(orientation:landscape) { 
            // height: 43vh;
font-size: 12px;
            }
        @media screen and (min-width: 576px) and (max-width: 767px) and(orientation:landscape) { 
            // height: 45vh;
font-size: 12px;
        }
        @media screen and (min-width: 768px) and (max-width: 991px) and(orientation:landscape) { 
            // height: 45vh;
font-size: 12px;
        }
    @media screen and (min-width: 768px) and (max-width: 991px) and(orientation:portrait) { 
        padding: 20px;
font-size: 12px;
    }
    @media (min-width: 992px) and (max-width: 1199px) and(orientation:portrait){ 
             
    } 
}
