// variables communes
// $complement: #63b7ff;
// mixing commun
@mixin icone {
    font-size: 300%;
    color: white;
    padding: 3%;
    margin: 3%;
    // background-color: #313131;
    box-shadow: 2px 2px 3px #0000005e;
    &:hover {
       color: #63b7ff;
    //    border: solid white 5px;
       transition: .3s;
       font-size: 350%;
       padding: 2% 3%;
       text-shadow: 8px 5px 1px black;
      }
    @media screen and (max-width: 575px)and(orientation:portrait) { 
    font-size: 80%;
    color: white;

    padding: 10%;
    margin: 10%;
    &:hover {
        color: #63b7ff;
        transition: .3s;
        font-size: 100%;
        padding: 10% 10%;
        text-shadow: 4px 2.5px 0.5px black;
       }
    } 
    @media screen and (max-width: 575px)and(orientation:landscape) { 
        font-size: 100%;
        color: white;
        padding: 3%;
        margin: 10%;
        &:hover {
            color: #63b7ff;
            transition: .3s;
            font-size: 130%;
            padding: 1% 3%;
            text-shadow: 4px 2.5px 0.5px black;
           }
        }
    @media screen and (min-width: 576px) and (max-width: 767px) and(orientation:landscape) { 
        font-size: 100%;
        color: white;
        padding: 3%;
        margin: 10%;
        &:hover {
            color: #63b7ff;
            transition: .3s;
            font-size: 130%;
            padding: 1% 3%;
            text-shadow: 4px 2.5px 0.5px black;
           }
    }
    @media screen and (min-width: 768px) and (max-width: 991px) and(orientation:landscape) { 
        font-size: 100%;
        color: white;
        padding: 3%;
        margin: 10%;
        &:hover {
            color: #63b7ff;
            transition: .3s;
            font-size: 130%;
            padding: 1% 3%;
            text-shadow: 4px 2.5px 0.5px black;
           }
    }
    @media screen and (min-width: 768px) and (max-width: 991px) and(orientation:portrait) { 
        font-size: 200%;
        color: white;
        padding: 3%;
        margin: 3%;
        &:hover {
            color: #63b7ff;
            transition: .3s;
            font-size: 230%;
            padding: 1% 3%;
            text-shadow: 4px 2.5px 0.5px black;
           }
    }
    @media (min-width: 992px) and (max-width: 1199px) and(orientation:portrait){ 
        font-size: 200%;
        color: white;
        padding: 3%;
        margin: 5%;
        &:hover {
            color: #63b7ff;
            transition: .3s;
            font-size: 230%;
            padding: 1% 3%;
            text-shadow: 4px 2.5px 0.5px black;
           }
     } 
}

// Style commun a tout l'index.html.twig

.row{
    width: 100%;
    margin: 0;
}
.media1024{
    // padding: 20px;
    @media screen and (max-width: 575px)and(orientation:portrait){ 
        padding: 2px;
    }
    @media screen and (max-width: 575px)and(orientation:landscape) { 
        padding: 2px;
        }
    @media (min-width: 992px) and (max-width: 1199px)and(orientation:portrait) { 
        padding-top: 30px;
     }
     @media (min-width: 992px) and (max-width: 1199px)and(orientation:landscape) { 
        padding: 2px;
     }
     @media screen and (min-width: 768px) and (max-width: 991px) and(orientation:portrait) { 
        padding-top: 20px;
    }
}

.container {
    margin: 0;
    width: 80%;
}

// partiale du block nav
@import "nav";

// partiale du block outils
@import "outils";

// partiale du block visu
@import "visu";

// partiale du block arbre
@import "arbre";

    @media screen and (min-width: 768px) and (max-width: 991px) and(orientation:landscape) { 
        height: 100vh;
    }
    // @media screen and (min-width: 768px) and (max-width: 991px) and(orientation:portrait) { 
         
    // }
    a{
        margin: 5%;
    }
 
