<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="style/style.css">

    <title>Explorateur</title>
</head>

<body>

    <div class="container-fluid outils d-flex align-items-center justify-content-center">
        <div class="row media1024">
            {% block outils %}
            {% endblock %}
        </div>
    </div>

    <div class="container-fluid navi">
        <div class="row" id="navi">
            <div class="col-3 d-flex justify-content-center" id="navigation">
                <div class="icone d-flex justify-content-center">
                    <i class="fas fa-home" id="home"></i>
                    <i class="fas fa-chevron-left" id="previous"></i>
                    <i class="fas fa-chevron-right" id="next"></i>
                </div>
            </div>
            <div id="url" class="col-9 d-flex justify-content-center align-items-center">
                {% block nav %}
                {% endblock %}
            </div>
        </div>
    </div>

    <div class="container-fluid visu p-0">
        <div class="row">
            {# <div class="col-12 col-sm-12 col-md-12 col-lg-4 p-0"> #}
                {# <div class="content text-center"> #}
                    {# <div class="carte_button text-center d-flex justify-content-center align-items-center">
                        Dossiers
                    </div>
                    <div class="carte pl-0">
                        {% block arbre %}
                        {% endblock %}
                    </div>
                </div> #}
                <div id="blockVisu" class=" content text-center col-12 col-sm-12 col-md-12 col-lg-12 pl-0 pr-0">
                    {% block visu %}
                    {% endblock %}
                </div>
            </div>
        </div>


        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
        <script src="app.js"></script>
</body>

</html>