{% extends 'index.html.twig' %}

{% block outils %}
{# <div class="col-4 col-sm-4 col-md-4 col-lg-4 d-flex justify-content-center" id="outils">
    <div class="icone d-flex justify-content-center">
        <i class="fas fa-search"></i>
        <i class="fas fa-plus"></i>
        <i class="fas fa-trash-alt"></i>
    </div>
</div> #}
<div class="explorateur col-12 d-flex justify-content-center align-items-center text-center">
    <h1> Explorateur de fichier </h1>
</div>
{% endblock %}

{% block visu %}
<div class="d-flex justify-content-center flex-wrap p-3" id="visuDossier">
    {{lien|raw}}
</div>
<div class="info">
    {{nombre}}
    {{taille}}
</div>
{% endblock %}


{% block nav %}
    <p class="adresse w-100" id="adresse">{{chemin}}</p>
{% endblock %}


{% block arbre %}
<p>Ici, l'arboresence des fichiers</p>
{% endblock %}